<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Soccer League</title>
</head>
<body>
    <h1>Welcome to Soccer League Management</h1>
    <ul>
        <li><a href="{{ url_for('coaches') }}">Coaches</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        <li><a href="{{ url_for('players') }}">Players</a></li>
    </ul>
</body>
</html>
